<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{{ post.metadata.title }} - {{ config.title }}</title>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta property="og:image" content="https://pbs.twimg.com/profile_images/512379935978057728/krnNvzMF_400x400.jpeg" />
    <meta property="og:title" content="Robson Junior" />
    <meta property="og:description" content="Artigos e posts sobre o que vem acontecendo na minha vida tecnologica." />

    <link rel="stylesheet" href="/css/main.css">
</head>
<body id="single">

    {% include "partials/header.html" %}
    <figure id="mainBanner" class="main-banner internal-banner">
        <figcaption> <h2 id="titleBlur" class="title">{{ post.metadata.title }}</h2> </figcaption>
    </figure>

    <main id="main">
        <section class="single-page wrap-content">
            <article class="postContent"> {{ post.content }} </article>

            <!--
            <ul class="categories">
                {% for category in post.metadata.categories %}
                    <li>
                        <a class="categoryTag {{ category }}"
                            href="/categories/{% if post.metadata.default_lang %}{{ post.metadata.lang }}/{% endif %}{{ category | lower | trim }}">
                            {{ category }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
            -->

            <!-- Go to www.addthis.com/dashboard to customize your tools -->
            <div class="addthis_native_toolbox"></div>
            <!-- Go to www.addthis.com/dashboard to customize your tools -->
            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-50c0d35f3dbabece"></script>


            <div class="postContent"> {% include "partials/disqus.html" %} </div>
        </section>

        <div class="clearfix"></div>
    </main>

    {% include "partials/footer.html" %}
</body>
</html>