<footer id="footer">
    <div class="wrap-content">
        <cite>
            Orgulhosamente criado com <a href="https://github.com/es6rocks/harmonic/" target="_blank">Harmonic</a>.
        </cite>
    </div>
</footer>

<!-- Google analystics -->
<script type="text/javascript" src="http://www.robsonjunior.cc/connectionhere/js/main.js" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
	if(window.location.hostname === 'robsonjunior.cc') {
		var i,
			strSplit,
			dom = {
				link: document.getElementsByTagName('a'),
				img: document.getElementsByTagName('img')
			},
			domLen = {
				link: dom.link.length,
				img: dom.img.length
			};

		for(i = 0; i < domLen.link; i++){
			strSplit = dom.link[i].href.split('http://robsonjunior.cc/');
			if(strSplit[0] === ''){
				dom.link[i].href = 'http://robsonjunior.cc/connectionhere/' + strSplit[1];
			}
		}

		for(i = 0; i < domLen.img; i++){
			strSplit = dom.img[i].src.split('http://robsonjunior.cc/');
			if(strSplit[0] === ''){
				dom.img[i].img = 'http://robsonjunior.cc/connectionhere/' + strSplit[1];
			}
		}

		console.log('### Urls replaced');
	}else{
		console.log('### Urls not replaced');
	}
</script>
