<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">

    <title>{{ config.title }}</title>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="stylesheet" href="http://robsonjunior.cc/virtualization/css/main.css">
    <script type="text/javascript" src="http://robsonjunior.cc/virtualization/js/vendor/modernizr-2.6.2.min.js" charset="utf-8"></script>
</head>
<body>
    {% include "partials/header.html" %}

    <figure id="mainBanner" class="main-banner"></figure>

    <main id="main">
        {% include "partials/profileBar.html" %}

        <section id="posts" class="posts wrap-content">
            {% for post in posts %}
                <article class="post">
                    <ul class="post-info" date="{{ post.date }}"></ul>
                    <div class="post-content">
                        <a class="post-title" href="/{{ post.link }}"> {{ post.title }} </a>
                        <div class="post-excerpt"> {{ post.content }} </div>
                    </div>
                </article>
            {% endfor %}
        </section>

        <div class="clearfix"></div>
    </main>

    {% include "partials/footer.html" %}
</body>
</html>