<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">

    <title>{{ config.title }}</title>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta property="og:image" content="https://pbs.twimg.com/profile_images/512379935978057728/krnNvzMF_400x400.jpeg" />
    <meta property="og:title" content="Robson Junior" />
    <meta property="og:description" content="Artigos e posts sobre o que vem acontecendo na minha vida tecnologica." />

    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    {% include "partials/header.html" %}

    <figure id="mainBanner" class="main-banner"></figure>

    <main id="main">
        {% include "partials/profileBar.html" %}

        <section id="posts" class="posts wrap-content">
            {% for post in posts %}
                <article class="post">
                    <ul class="post-info" date="{{ post.date }}"></ul>
                    <div class="post-content">
                        <a class="post-title" href="/{{ post.link }}"> {{ post.title }} </a>
                        <div class="post-excerpt"> {{ post.content }} </div>
                    </div>
                </article>
            {% endfor %}
        </section>

        <div class="clearfix"></div>
    </main>

    {% include "partials/footer.html" %}
</body>
</html>